@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');

/*Ultra-wide Correction*/
@media (min-width: 1910px) {
    .narrow {
        max-width: 1265px; /*1920 * .66 ~= 1265*/
    }
}


/*Tablet Changes*/
@media (max-width: 1475px) {

    .narrow {
        width: 95%;
    }

    .edu {
        width: 95%;
    }

    .skills-body {
        font-size: 1.1rem;
        padding: 0 0 0 0;
    }

}


/*Mobile Changes*/
@media (max-width: 850px) {
    /*Mobile Nav Bar*/
    #LandingPageNav {
        opacity: 0;
        position: fixed;
        top: auto;
        height: 0;
        width: 0;
        bottom: 0;
    }

    .navbar-brand {
        font-size: 1.6rem;
    }

    .navbar-toggler {
        font-size: 1.5rem;
        padding: 0 6px;
    }

    .offset:before {
        height: 45px;
        margin-top: -45px;
    }


    /*Mobile Content Sizing*/
    .narrow {
        width: 100%;
        margin: 0.5rem 0;
        padding-top: .5rem;
    }

    .narrow p {
        font-size: .9rem;
    }


    /*Mobile Landing Page stuff*/
    .caption {
        width: 100%;
        max-width: 100%;
        position: absolute;
        bottom: 28%;
        z-index: 1;
        color: white;
    }

    .caption h1 {
        font-size: 2rem;
        letter-spacing: .1rem;
    }

    .caption h3 {
        font-size: 1.2rem;
        font-weight: 400;
        padding-bottom: 5px;
    }

    .caption h4 {
        font-size: 1.4rem;
        padding-top: 13px;
        letter-spacing: 0;
    }

    .btn-lg {
        background-color: #4db8ff;
        border-radius: 0;
        border-width: 2px;
        text-transform: uppercase;
        padding: .3rem .5rem;
        font-size: 0.7rem;
        box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.7);
    }

    .btn-lg:hover {
        background-color: white;
    }

    .caption img {
        opacity: 0;
    }


    /*Mobile headers*/
    h3.heading {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
    }


    /*Mobile About Me*/
    .heading-underline.about-line {
        margin-bottom: 5px;
        height: 1px;
        width: 9.5rem;
    }

    .about-bg {
        padding-left: 0;
        padding-right: 0;
    }

    .about-img {
        max-width: 65%;
    }

    .card.about-wrapper {
        padding: 5px;
        margin: 16px;
    }

    .card.about-pad {
        border-width: 0 !important;
    }

    .card.about-pad p {
        font-size: .87rem;
    }


    /*Mobile Education stuff*/
    .heading-underline.education-line {
        margin-bottom: 5px;
        height: 1px;
        width: 10.3rem;
    }

    .edu {
        width: 100%;
    }

    .edu b {
        font-size: 1.15rem;
    }

    .edu a {
        color: #4db8ff !important;
        font-size: .63rem;
    }

    .edu i {
        color: grey;
        font-size: .63rem;
    }

    .educ {
        font-size: .8rem;
        border-width: 0;
    }

    .educ h6 {
        padding-left: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 2px;
        font-size: .725rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    h5.card-title.text-center {
        font-size: .63rem;
        margin-bottom: 8px;
    }

    .educ small {
        font-size: .6rem;
        color: grey;
        text-transform: none;
    }

    .educ h5 {
        padding-bottom: 2px;
    }

    .educol.col-md-6 {
        padding: 0 0 0 0;
    }


    /*Mobile Experience stuff*/
    .row.dark {
        padding-top: 16px;
    }


    .heading-underline.experience-line {
        height: 1px;
        width: 10.5rem;
        margin-bottom: 5px;
    }

    .card-img {
        max-width: 100px;
    }

    .exp b {
        font-size: 1.44rem;
    }

    .exp h5 {
        font-size: 1.1rem;
    }

    .exp {
        background-color: rgba(0, 0, 0, 0.8);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        border-width: 1px;
        border-color: #4db8ff;
    }

    .exp small {
        font-size: .65rem;
    }

    .card-body.exp-body {
        padding-right: 20px;
        padding-top: 0;
    }

    .col-md-2.col-xs-0.text-center.exp-pic {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .btn.EarlyExp {
        font-size: .9rem;
    }


    /*Mobile portfolio*/
    .heading-underline.portfolio-line {
        height: 1px;
        width: 10.15rem;
        margin-bottom: 5px;
    }

    .portfolio-bg {
        padding-left: 0;
        padding-right: 0;
    }

    .btn.port-intro {
        margin-top: 12px;
        font-size: .8rem;

    }

    .card.port-wrapper {
        padding: 6px;
        border-width: 2px;
    }


    /*Mobile Skills*/
    .heading-underline.skills-line {
        height: 1px;
        width: 6.15rem;
        margin-bottom: 5px;
    }

    .skills-bg {
        padding-left: 0;
        padding-right: 0;
    }

    .skills-body {
        font-size: .76rem;
        padding: 0 0 0 0;
    }

    .skills b {
        font-size: 1.2rem;
        color: #4db8ff;
        line-height: 0;
    }

    .skills small {
        font-size: .76rem;
    }

    .col-md-4.col-xs-0.skills-label {
        border-right: 0 solid grey;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }

    .col-md-8.col-xs-12.skills-body {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }


    /*Portfolio Stuff*/
    .portfolio-bg {
        padding-left: 16px;
        padding-right: 16px
    }

    .btn.port-header-btn.text-left {
        line-height: 1.1rem;
        font-size: 1rem;
    }

    .btn.port-header-btn.text-left:after {
        font-size: 14px;
    }

    .card-body.port {
        font-size: .875rem;
        padding: 16px;
    }

    .card-header.port {
        padding: 6px 12px;
    }

    .badge.badge-info.port-badge1,
    .badge.badge-info.port-badge {
        font-size: .6rem;
    }

    .btn.btn.port-body-btn {
        float: none;
        margin-top: 12px;
        margin-bottom: .1rem;
        margin-left: 3px;
        font-size: 0.7rem;
    }

    .card.exp {
        max-width: 90%;
        margin: 0 auto auto;
    }

    .card-body.port {
        box-shadow: inset 0 1px 5px #000000;
    }

    .col-md-2.col-xs-0.text-center.exp-pic {
        padding-left: 20px;
        padding-bottom: 20px;
    }


    /*Mobile Contact Info stuff*/
    footer {
        font-size: .65rem;
    }

    footer b {
        font-size: 1.45rem;
    }

    footer p {
        font-size: .9rem;
        padding-top: .1rem;
    }

    footer svg.svg-inline--fa {
        font-size: 2.2rem;
        margin: 0 .5rem 0 0;
    }

    footer svg.svg-inline--fa:hover {
        color: black;
        font-size: 2.2rem;
        margin: 0 .5rem 0 0;
    }
}

/*Super Small Changes*/
@media (max-width: 321px) {
    .caption h1 {
        font-size: 1.7rem;
    }

    .caption h3 {
        font-size: 1.2rem;
        letter-spacing: 0;
    }

    .btn.port-header-btn.text-left {
        line-height: 1rem;
        font-size: .85rem;
    }

    .skills-body {
        font-size: .65rem;
    }

    .skills b {
        font-size: 1rem;
    }

    .btn.EarlyExp {
        font-size: .79rem;
    }

    h5.card-title.text-center,
    h5.card-title.text-center i,
    h5.card-title.text-center a {
        font-size: .55rem;
    }
}

@media (max-width: 426px) {
    .col-md-2.col-xs-0.text-center.exp-pic {
        padding: 16px 0 0;
    }
}