@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');

body{
  overflow-x hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.offset:before {
  display: block;
  content: "";
  height: 3.8rem;
  margin-top: -3.8rem;
}

/*Overall Content Layout*/
.narrow{
  width: 66%;
  margin: 1.5rem auto;
  padding-top: 1rem;
}
.narrow p{
  font-size: 1.15rem;
}
.narrow img{
  width: 100%;
  border-radius: 7%;
}

/*Navbar Stuff*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .95rem;
  letter-spacing: 0rem;
  background: rgba(0,0,0,0.7)!important
}
.navbar-brand img{
  height: 2rem;
}
.navbar-nav li{
  padding-right: .4rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
  color: #4db8ff;
}

/*Landing Page stuff*/
.home-inner{
  background-image: url(img/bg.jpeg);
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 24%;
  z-index: 1;
  color: white;
}
.caption h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .7rem black;
}
.caption h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-shadow: .2rem .2rem .4rem black;
  padding-bottom:  1.5rem;
}
.btn-lg{
  background-color: #4db8ff; 
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  padding: .6rem 1.4rem;
  font-size: 1.2rem;
  box-shadow: .1rem .1rem 2rem black;
}
.btn-lg:hover{
  background-color: white; 
}

/*Section Heading stuff*/
h3.heading{
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-underline{
  width: 17rem;
  height: .1rem;
  background-color: #4db8ff;
  margin: 0 auto 1rem;
}

/*About Me stuff*/
.about-bg{
  padding: 1px 2rem; 
  background-color: #E9ECEF;
}
.about-bg a{
  color: #4db8ff;
}

/*Education stuff*/
.edu{
  width: 1175px;
}
.edu b{
  font-size: 2rem;
}
.edu a{
  color: #4db8ff!important;
  font-size: 1.3rem;
}
.edu i{
  color: grey;
  font-size: 1.2rem;
}
.edu p{
  margin-bottom: 0px;
}
.educ{
  font-size: 1.1rem;
  border-width: 0px;
}
.educ h6{
  padding-left: 1rem;
  padding-top: .25rem;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.educ h5{
  padding-bottom: 4px;
  border-bottom: 1.5px dotted grey;
}
.educ small{
  padding-left: 1rem;
  color: grey;
  text-transform: none;
}
.educol.col-md-6{
  padding: 4px 4px 4px 4px;
}

/*Experience stuff*/
.fixed{
  background-image: url(img/expBG.jpg);
  z-index: -1;
}
.dark{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px 1rem; 
}
.card-text small{
  color: #4db8ff;
  text-transform: uppercase;
  font-size: .875rem;
}
.exp{
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 39.6px;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-width: 1px;
  border-color: #4db8ff;
}
.exp b{
  font-size: 2.1rem;
}
.exp a{
  color: #4db8ff;
}
.exp a:hover{
  text-decoration: underline;
}

/*Portfolio Stuff*/
.portfolio-bg{
  padding: 1px 2rem; 
}
/*TODO: Styling for Portfolio*/

/*Skills Stuff*/
.skills-bg{
  padding: 1px 2rem; 
  background-color: #E9ECEF;
}
.skills-card{
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
}
.skills-body{
  font-size: 1.25rem;
  padding: 0 0 0 0;
}
.skills b{
  font-size: 2rem;
  color: #4db8ff;
  line-height: 34px;
}
.skills-pad{
  padding: 1.35rem;
}
.col-md-4.col-xs-0.skills-label {
  padding-right: 6px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
}
.col-md-8.col-xs-12.skills-body{
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}

/*Contact Info stuff*/
.socket{
  width: 100%;
  height: 2px;
  background-color: #505962;
  margin-bottom: 5px;
}
footer{
  font-size: .8rem; 
  background-color: #4db8ff;
  color: white;
  padding: 24px 0 0;
}
footer a{
  color: white;
  text-decoration: underline;
}
footer a:hover{
  color: black;
  text-decoration: underline;
}
footer p{
  font-size: 1.2rem;
  padding-top: .1rem;
}
footer svg.svg-inline--fa{
  font-size: 3rem;
  margin: 0 .5rem 0 0;
}
footer svg.svg-inline--fa:hover{
  color: black;
  font-size: 3rem;
  margin: 0 .5rem 0 0;
}
.col-md-5.text-center.footer{
  padding-top: 0px;
  padding-bottom: 5px;
}



/*Ultra-wide Correction*/
@media (min-width: 1910px){
  .narrow{
    max-width: 1268px; /*1920 * .66 ~= 1268*/
  }
}
/*Tablet Changes*/
@media (max-width: 1475px){
  .narrow{
    width: 95%;
  }
  .edu{
    width: 95%;
  }
  .exp{
    width: 95%;
  }
  .skills-body{
    font-size: 1.1rem;
    padding: 0 0 0 0;
  }
}
/*Mobile Changes*/
@media (max-width: 950px){
  /*Mobile Content Sizing*/
  .narrow{
    width: 100%;
    margin: 0.5rem 0rem;
    padding-top: .5rem;
  }
  .narrow p{
    font-size: .9rem;
  }
   .narrow img{
    width: 60%;
    border-radius: 7%;
  }

  /*Mobile Landing Page stuff*/
  .caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 35%;
    z-index: 1;
    color: white;
  }
  .caption h1 {
    font-size: 2.5rem;
    letter-spacing: .1rem;
  }
  .caption h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom:  .8rem;
  }
  .btn-lg{
    background-color: #4db8ff; 
    border-radius: 0;
    text-transform: uppercase;
    padding: .4rem 1rem;
    font-size: .8rem;
  }
  .btn-lg:hover{
    background-color: white; 
  }
  .caption img {
    opacity: 0;
  }

  /*Mobile headers*/
  h3.heading{
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .heading-underline{
    width: 10rem;
    height: .1rem;
    background-color: #4db8ff;
    margin: 0 auto 1rem;
  }

  /*Mobile About Me*/
  .about-bg{
    padding-left: 0;
    padding-right: 0;
  }

  /*Mobile Education stuff*/
  .edu{
    width: 100%;
  }
  .edu b{
    font-size: 1.15rem;
  }
  .edu a{
    color: #4db8ff!important;
    font-size: .63rem;
  }
  .edu i{
    color: grey;
    font-size: .63rem;
  }
  .educ{
    font-size: .8rem;
    border-width: 0px;
  }
  .educ h6{
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 2px;
    font-size: .725rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  h5.card-title.text-center{
    font-size: .63rem;
    margin-bottom: 8px;
  }
  .educ small{
    font-size: .6rem;
    color: grey;
    text-transform: none;
  }
  .educ h5{
    padding-bottom: 2px;
  }
  .educol.col-md-6{
    padding: 0 0 0 0;
  }

  /*Mobile Card stuff*/
  .card-img{
    max-width: 25%;
  }
  .exp b{
    font-size: 1.5rem;
  }
  .exp{
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    border-width: 1px;
    border-color: #4db8ff;
  }
  .exp small{
    font-size: .65rem;
  }

  /*Mobile portfolio*/
  .portfolio-bg{
    padding-left: 0;
    padding-right: 0;
  }

  /*Mobile Skills*/
  .skills-bg{
    padding-left: 0;
    padding-right: 0;
  }
  .skills-body{
    font-size: .76rem;
    padding: 0 0 0 0;
  }
  .skills b{
    font-size: 1.2rem;
    color: #4db8ff;
    line-height: 0px;
  }
  .skills small{
    font-size: .76rem;
  }
  .col-md-4.col-xs-0.skills-label {
    border-right: 0px solid grey;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .col-md-8.col-xs-12.skills-body{
    padding-left: 0rem;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }


  /*Mobile Contact Info stuff*/
  footer{
    font-size: .65rem;
  }
  footer b{
    font-size: 1.3rem;
  }
  footer p{
    font-size: .9rem;
    padding-top: .1rem;
  }
  footer svg.svg-inline--fa{
    font-size: 2.2rem;
    margin: 0 .5rem 0 0;
  }
  footer svg.svg-inline--fa:hover{
    color: black;
    font-size: 2.2rem;
    margin: 0 .5rem 0 0;
  }
}